.centerCell {
  display: flex;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
  height: 100%;
  width: 100%;
}

.Polaris-DataTable__Cell {
  vertical-align: middle !important;
}

.Polaris-DataTable__Heading,
.Polaris-DataTable__Heading > span {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  width: 100% !important;
}

.Polaris-DataTable__Heading {
  text-align: center !important;
}
